<?xml version="1.0"?>
<!--
    Please refer to machine.config.comments for a description and
    the default values of each configuration section.

    For a full documentation of the schema please refer to
    http://go.microsoft.com/fwlink/?LinkId=42127

    To improve performance, machine.config should contain only those
    settings that differ from their defaults.
-->
<configuration>
	<connectionStrings>
		<add name="NETCONTROLConnectionString" connectionString="Data Source=72.167.19.170;Initial Catalog=NETCONTROL;Persist Security Info=True;User ID=netuser;Password=pasw" providerName="System.Data.SqlClient"/>
		<add name="medlinknetconnection" connectionString="Data Source=medlinknet.db.5747711.hostedresource.com;Persist Security Info=True;User ID=medlinknet;Password=Mianalay1" providerName="System.Data.SqlClient"/>
		<add name="MEDLINKNETConnectionString" connectionString="Data Source=medlinknet.db.5747711.hostedresource.com;Persist Security Info=True;User ID=medlinknet;Password=Mianalay1" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true"/></system.web></configuration>
